.post-wrapper{
    width: 900px;
    border-radius: 16px;
    margin-top: 16px;
    mat-card-header{
        margin-bottom: 8px;
        .cred{
            margin-left: 16px;
            h2{
                height: 28px;
                margin: 0;
            }
            small{
                color: #b7b7b7;
            }
        }
        ::ng-deep{
            .mat-card-header-text{
                margin: 0;
            }
        }
    }
}