<mat-card class="post-wrapper">
    <mat-card-header>
        <img class="avatar" [src]='author?.avatarUrl'>
        <div class="cred">
            <h2>{{author?.name}} {{author?.surname}}</h2>
            <small>{{postData.createdAt['seconds']*1000 | date}}</small>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p class="content">{{postData.content}}</p>
        <app-image
            *ngIf="postData?.photoUrl"
            [previewPhotoUrl]="postData.photoUrl"
        ></app-image>
    </mat-card-content>
</mat-card>

