<div class="dialog-wrapper" *ngIf="!isLoading">
    <h2 mat-dialog-title>Upload avatar</h2>
    <div mat-dialog-content>
        <div class="photo-container">
            <img *ngIf="choosedPhotoUrl" class="photo-container__photo" [src]="choosedPhotoUrl">
            <div class="dark-effect">
                <button mat-stroked-button color="accent">
                    Choose photo
                </button>
                <input type="file" class="input-file"
                    (change)="chooseFile($event)"/>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button 
            mat-stroked-button 
            color="primary" 
            mat-dialog-close
            >Cancel
        </button>
        <button 
            mat-flat-button 
            color="primary"
            [disabled]="!choosedPhotoUrl"
            (click)="uploadPhoto()"
            >Upload
        </button>
    </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>

