<mat-card class="create-post-card">
    <mat-card-header class="create-post-card__header">
        <mat-card-title>Make new post</mat-card-title>
    </mat-card-header>
    <mat-card-content class="create-post-card__form-wrapper">
        <form [formGroup]="postForm" (submit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Your post text ...</mat-label>
                <textarea matInput formControlName="content"></textarea>
            </mat-form-field>
            <div 
                class="image-wrapper" 
                *ngIf="previewPhotoUrl" 
                style="background-image: url({{previewPhotoUrl}});"
                ><div class="blur-layout">
                    <img [src]="previewPhotoUrl">
                </div>
            </div>
            <div class="form-actions">
                <div class="upload-btn-container">
                    <button 
                        class="upload-btn" 
                        type="button" 
                        mat-stroked-button 
                        color="accent"
                        >Upload image
                    </button>
                    <input type="file" class="input-file"
                        (change)="chooseFile($event)"/>
                </div>
                <button 
                    class="submit-btn" 
                    mat-flat-button 
                    color="primary"
                    >Post
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
