@import "assets/styles/custom-theme";


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #292929;
    color: white;}
.full-width{
    width: 100%;
}
