@import "assets/styles/custom-theme";


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $poetry-light-grey;
    color: white;
}
.avatar{
    height: 48px;
}
.full-width{
    width: 100%;
}
.mat-card{
    background: $poetry-light-grey;
    color: white;
}
form{
    .mat-form-field-appearance-legacy .mat-form-field-label{
        color: rgba($white-color, 0.67)
    }
    .mat-flat-button.mat-primary.mat-button-disabled{
        background-color: rgba($main-color, 0.4)
    }
}
mat-spinner{
    border-radius: 50%;
    top: 25%;
    margin: auto;
}
