@import "assets/styles/custom-theme";


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $poetry-light-grey;
    color: white;
}
.avatar{
    height: 48px;
}
.full-width{
    width: 100%;
}
.mat-card{
    background: $poetry-light-grey;
    color: white;
}
form{
    .mat-form-field-appearance-legacy .mat-form-field-label{
        color: rgba($white-color, 0.67)
    }
    .mat-flat-button.mat-primary.mat-button-disabled{
        background-color: rgba($main-color, 0.4)
    }
}
.mat-dialog-container{
    background: linear-gradient(246.73deg, #292929 4.19%, #434343 100%);
    color: white;
    padding: 32px;
    .mat-dialog-title{
        font-size: 20px;
        font-weight: 500;
    }
    .mat-dialog-content{
        font-size: 16px;
    }
    .mat-dialog-actions{
        padding: 16px 0;
        display: flex;
        justify-content: flex-end;
        button{
            width: 88px;
            font-size: 16px;
            border-radius: 16px;
            margin-left: 16px;
        }
        .mat-stroked-button{
            border: 1px solid $main-color;
        }
    }
}
mat-spinner{
    border-radius: 50%;
    top: 25%;
    margin: auto;
}
