@import '../../assets/styles/variables.scss';
.search{
    width: 700px;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 32px 0;
    ::ng-deep {
        .mat-form-field-flex{
            align-items: center;
        }
        .mat-form-field-appearance-legacy .mat-form-field-underline{
            display: none;
        }
        .mat-form-field-infix{
            border-top: none;
            margin: 8px 22px;
        }
    }
    &--field{
        width: 100%;
        height: 55px;
        background-color: #2A2A2A;
        border-radius: 16px;
        margin-bottom: 32px;
        font-size: 20px;
        color: $white-color;
        ::placeholder, mat-label, &__icon{
            color: rgba($white-color, 0.67)
        } 
        &__icon{
            margin-right: 10px;
        }
    }
    &--users-list{
        width: 100%;
        gap: 16px;
        display: flex;
        flex-direction: column;
        &__item{
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: #2A2A2A;
            padding: 16px 0;
            border-radius: 16px;
            transition: all 0.14s ease-out;
            &:hover{
                background-color: #343434;
            }
            &__cred{
                display: flex;
                align-items: center;
                gap: 16px;
                margin-left: 22px;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                span{
                    font-size: 16px;
                }
            }
            button{
                margin-right: 22px;
                border: 1px solid $main-color;
                border-radius: 16px;
                width: 110px;
                &.subscribe{
                    border: 1px solid $main-color;
                }
                &.unsubscribe{
                    border: 1px solid $secondary-color;
                }
            }
        }
    }
}