@import "../../../../assets/styles/variables.scss";

::ng-deep{
    .mat-dialog-container{
        background: linear-gradient(246.73deg, #292929 4.19%, #434343 100%);
        border-radius: 16px;
        padding: 32px;
    }
    .mat-typography h1{
        font-weight: 500;
    }
}

.dialog-wrapper{
    color: $white-color;
    .mat-dialog-title{
        font-size: 20px;
    }
    .mat-dialog-content{
        font-size: 16px;
    }
    .mat-dialog-actions{
        padding: 16px 0;
        display: flex;
        justify-content: flex-end;
        button{
            width: 88px;
            font-size: 16px;
            border-radius: 16px;
            margin-left: 16px;
        }
        .mat-stroked-button{
            border: 1px solid $main-color;
        }
    }
}